#
#  Copyright 2022 Davide Bettio <davide@uninstall.it>
#
#  SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later
#

name: Build and Test on Other Architectures

on:
  push:
    paths-ignore:
      - 'src/platforms/emscripten/**'
      - 'src/platforms/esp32/**'
      - 'src/platforms/rp2/**'
      - 'src/platforms/stm32/**'
      - 'doc/**'
      - 'LICENSES/**'
      - '*.Md'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'src/platforms/emscripten/**'
      - 'src/platforms/esp32/**'
      - 'src/platforms/rp2/**'
      - 'src/platforms/stm32/**'
      - 'doc/**'
      - 'LICENSES/**'
      - '*.Md'
      - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref != 'refs/heads/main' && github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  compile_jit_and_tests:
    runs-on: ubuntu-24.04
    container: erlang:27
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install required packages
      run: apt update && apt install -y gperf zlib1g-dev cmake ninja-build

    - name: Compile jit and test modules
      run: |
        set -e
        mkdir build_tests
        cd build_tests
        cmake .. -G Ninja -DAVM_WARNINGS_ARE_ERRORS=ON
        ninja jit erlang_test_modules test_etest test_estdlib test_eavmlib test_alisp
        # jit_precompile tests
        mkdir -p tests/erlang_tests/armv6m/
        erl -pa libs/jit/src/beams/ -noshell -s jit_precompile -s init stop -- armv6m tests/erlang_tests/armv6m/ tests/erlang_tests/*.beam
        mkdir -p tests/erlang_tests/code_load/beams/armv6m/
        erl -pa libs/jit/src/beams/ -noshell -s jit_precompile -s init stop -- armv6m tests/erlang_tests/code_load/beams/armv6m/ tests/erlang_tests/code_load/beams/*.beam

    - name: Upload jit and test modules
      uses: actions/upload-artifact@v4
      with:
        name: jit-and-test-modules
        path: |
            build_tests/**/*.avm
            build_tests/**/*.beam
            build_tests/**/*.hrl
        retention-days: 1

  build-and-test-other:
    needs: [compile_jit_and_tests]
    # GCC on qemu segfaults on s390x and arm64v8 when using 24.04
    # See also https://github.com/actions/runner-images/issues/11471
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        tag: ["arm32v5-stretch", "arm32v7-bookworm", "arm32v7-trixie-jit", "arm64v8-bookworm", "s390x-bookworm"]

        include:
        - tag: "arm32v5-stretch"
          platform: "arm/v5"
          cflags: "-O2 -mthumb -mthumb-interwork -march=armv4t"
          cmake_opts: "-DAVM_DISABLE_SMP=On -DAVM_DISABLE_TASK_DRIVER=On"
          dockerfile: |
            FROM arm32v5/debian:stretch
            RUN echo "deb [trusted=yes] http://archive.debian.org/debian/ stretch-backports main" > /etc/apt/sources.list && \
                echo "deb [trusted=yes] http://archive.debian.org/debian/ stretch-backports-sloppy main" >> /etc/apt/sources.list && \
                echo "deb [trusted=yes] http://archive.debian.org/debian-security/ stretch/updates main" >> /etc/apt/sources.list && \
                echo "deb-src [trusted=yes] http://archive.debian.org/debian-security/ stretch/updates main" >> /etc/apt/sources.list && \
                echo "deb [trusted=yes] http://archive.debian.org/debian/ stretch main" >> /etc/apt/sources.list && \
                echo "deb-src [trusted=yes] http://archive.debian.org/debian/ stretch main" >> /etc/apt/sources.list
            RUN apt update && \
                apt install -y -t stretch-backports-sloppy libarchive13 && \
                apt install -y -t stretch-backports cmake && \
                apt install -y file gcc g++ binutils make doxygen gperf zlib1g-dev libmbedtls-dev
            WORKDIR /atomvm

        - tag: "arm32v7-bookworm"
          platform: "arm/v7"
          # -D_FILE_OFFSET_BITS=64 is required for making atomvm:posix_readdir/1 test work
          # otherwise readdir will fail due to 64 bits inode numbers with 32 bit ino_t
          cflags: "-mcpu=cortex-a7 -mfloat-abi=hard -O2 -mthumb -mthumb-interwork -D_FILE_OFFSET_BITS=64"
          cmake_opts: "-G Ninja -DAVM_WARNINGS_ARE_ERRORS=ON"
          dockerfile: |
            FROM arm32v7/debian:bookworm
            RUN apt update && \
                apt install -y file gcc g++ binutils cmake make ninja-build doxygen gperf zlib1g-dev libmbedtls-dev
            WORKDIR /atomvm

        - tag: "arm32v7-trixie-jit"
          platform: "arm/v7"
          # -D_FILE_OFFSET_BITS=64 is required for making atomvm:posix_readdir/1 test work
          # otherwise readdir will fail due to 64 bits inode numbers with 32 bit ino_t
          cflags: "-mcpu=cortex-a7 -mfloat-abi=hard -O2 -mthumb -mthumb-interwork -D_FILE_OFFSET_BITS=64"
          cmake_opts: "-G Ninja -DAVM_WARNINGS_ARE_ERRORS=ON -DAVM_DISABLE_JIT=OFF"
          dockerfile: |
            FROM arm32v7/debian:trixie
            RUN apt update && \
                apt install -y file gcc g++ binutils cmake make ninja-build doxygen gperf zlib1g-dev libmbedtls-dev erlang
            WORKDIR /atomvm

        - tag: "arm64v8-bookworm"
          platform: "arm64/v8"
          cflags: "-O2"
          cmake_opts: "-G Ninja -DAVM_WARNINGS_ARE_ERRORS=ON"
          dockerfile: |
            FROM arm64v8/debian:bookworm
            RUN apt update && \
                apt install -y file gcc g++ binutils cmake make ninja-build doxygen gperf zlib1g-dev libmbedtls-dev
            WORKDIR /atomvm

        # Required for testing big endian archs
        - tag: "s390x-bookworm"
          platform: "s390x"
          cflags: "-O2"
          cmake_opts: "-G Ninja -DAVM_WARNINGS_ARE_ERRORS=ON"
          dockerfile: |
            FROM s390x/debian:bookworm
            RUN apt update && \
                apt install -y file gcc g++ binutils cmake make ninja-build doxygen gperf zlib1g-dev libmbedtls-dev
            WORKDIR /atomvm

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: apt update
      run: sudo apt update

    - name: Install required packages
      run: sudo apt install -y debootstrap

    - name: Download test modules
      uses: actions/download-artifact@v4
      with:
        name: jit-and-test-modules
        path: build_tests

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Create cached build environment
      run: |
        echo '${{ matrix.dockerfile }}' > Dockerfile.build

    - name: Build cached environment
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile.build
        platforms: linux/${{ matrix.platform }}
        tags: atomvm-build-${{ matrix.tag }}:latest
        cache-from: type=gha,scope=${{ matrix.tag }}
        cache-to: type=gha,mode=max,scope=${{ matrix.tag }}
        load: true

    - name: "Build and Test: AtomVM on foreign arch"
      timeout-minutes: 45
      run: |
        docker run --platform linux/${{ matrix.platform }} --rm -v $PWD:/atomvm -w /atomvm \
        -e CFLAGS="${{ matrix.cflags }}" -e CXXFLAGS="${{ matrix.cflags }}" \
        atomvm-build-${{ matrix.tag }}:latest /bin/bash -c '
        file /bin/bash &&
        uname -a &&
        cc --version &&
        ld --version &&
        ldd --version &&
        echo $CFLAGS &&
        echo $CXXFLAGS &&
        cmake --version &&
        mkdir -p build &&
        cd build &&
        cmake .. ${{ matrix.cmake_opts }} &&
        cmake --build . --target PackBEAM &&
        cp -r ../build_tests/tests/erlang_tests/* tests/erlang_tests/ &&
        cp -r ../build_tests/tests/erlang_tests/code_load/* tests/erlang_tests/code_load/ &&
        cp ../build_tests/tests/libs/etest/*.avm tests/libs/etest/  &&
        cp ../build_tests/tests/libs/estdlib/*.avm tests/libs/estdlib/  &&
        cp ../build_tests/tests/libs/eavmlib/*.avm tests/libs/eavmlib/ &&
        cp ../build_tests/tests/libs/alisp/*.avm tests/libs/alisp/ &&
        cp -r ../build_tests/libs/* libs/ &&
        touch tests/erlang_tests/code_load/code_load_pack.avm &&
        touch tests/erlang_tests/code_load/code_load_pack_data.hrl &&
        touch libs/jit/src/beams/*.beam &&
        touch tests/erlang_tests/*.beam &&
        touch tests/erlang_tests/*/*.beam &&
        touch tests/erlang_tests/code_load/beams/*.beam &&
        touch tests/erlang_tests/code_load/beams/*/*.beam &&
        cmake --build . --target AtomVM &&
        cmake --build . --target tests/test-erlang &&
        cmake --build . --target tests/test-enif &&
        cmake --build . --target tests/test-heap &&
        cmake --build . --target tests/test-mailbox &&
        cmake --build . --target tests/test-structs &&
        file ./tests/test-erlang &&
        ./tests/test-erlang -s prime_smp &&
        file ./tests/test-enif &&
        ./tests/test-enif &&
        file ./tests/test-heap &&
        ./tests/test-heap &&
        file ./tests/test-mailbox &&
        ./tests/test-mailbox &&
        file ./tests/test-structs &&
        ./tests/test-structs &&
        file ./src/AtomVM &&
        ./src/AtomVM tests/libs/etest/test_etest.avm &&
        ./src/AtomVM tests/libs/estdlib/test_estdlib.avm &&
        ./src/AtomVM tests/libs/eavmlib/test_eavmlib.avm &&
        ./src/AtomVM tests/libs/alisp/test_alisp.avm
        '
